$bg-color: rgba(226, 226, 226, .8);

$h-color: rgb(114, 114, 114);
$p-color: rgb(141, 141, 141);

$box-color: rgba(202, 202, 202, .8);

$primary: rgb(65, 185, 131);

$content-color: rgb(255, 255, 255);

$input-color: rgba(212, 212, 212, .3);
$input-text: rgba(180, 180, 180, .8);

$button-primary: rgb(65, 185, 131);
$button-primary-ligthen: rgb(94, 216, 161);
$button-call: rgb(82, 212, 98);
$button-call-ligthen: rgb(131, 226, 142);
$button-search: rgb(53, 146, 207);
$button-search-ligthen: rgb(103, 172, 236);
$button-data: rgb(230, 138, 33);
$button-data-ligthen: rgb(240, 172, 95);
$button-help: rgb(47, 199, 17);
$button-help-ligthen: rgb(194, 235, 48);
$button-setting: rgb(58, 58, 71);
$button-setting-ligthen: rgb(101, 101, 128);
$button-off: rgb(211, 42, 42);
$button-off-ligthen: rgb(247, 73, 73);

$smooth-shadow: 2px 9px 23px -10px rgba(0,0,0,0.05);
$smooth-shadow-hover: 2px 9px 23px -10px rgba(0,0,0,0.4);